/* CUSTOM-PROPERTY */
:root{
  --font-color: #242A45;
  --bg-color-blue: #5267DF;
  --bg-color-red:#FA5959;
  --primary-color: #fff;
}
/* FONTS */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/rubik-v18-latin-regular.woff2') format('woff2'),
       url('../fonts/rubik-v18-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/rubik-v18-latin-500.woff2') format('woff2'),
       url('../fonts/rubik-v18-latin-500.woff') format('woff');
}
/* GLOBAL-STYLES */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Rubik","Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: var(--font-color);
  background-color: var(--primary-color);
}
img{
  /* max-width: 100%; */
  height: auto;
  object-fit: cover;
}
.none{
  display: none;
}
.button {
  display: inline-block;
  padding: 8px 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  border: 2px solid var(--bg-color-red);
  border-radius: 5px;
  color: var(--primary-color);
  background-color: var(--bg-color-red);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  transition: background-color 0.4s ease, color 0.4s ease, opacity 0.4s ease, border-color 0.4s ease;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover{
  border-color: var(--bg-color-red);
  color: var(--bg-color-red);
  background-color: var(--primary-color);
}
.button:active{
  opacity: 0.8;
}
.heading{
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  text-align: center;
}
.theme{
  max-width: 540px;
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
  text-align: center;
}

/* CONTAINER  */
.container{
  max-width: 1204px;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN CONTENT  */
.main-content{
  flex-grow: 1;
}

/* LOGO */
.logo {
  flex-shrink: 0;
  display: flex;
  transition: opacity 0.4s ease;
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  width: 150px;
  height: 25px;
}

/* SITENAV */
.sitenav__list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-right: 48px;
  padding: 0;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 46px;
}
.sitenav__link {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--font-color);
  text-decoration: none;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.sitenav__link:hover{
  color: var(--bg-color-red);
}
.sitenav__link:active{
  opacity: 0.6;
}

/* SITE-HEADER */
.site-header {
  margin-bottom: 68px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: transparent;
}
.site-header__container {
  display: flex;
  align-items: center;
}
.site-header__logo{
  margin-right: auto;
}
.site-header__button {
  padding-right: 32px;
  padding-left: 32px;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}

/* HERO */
.hero {
  padding-bottom: 180px;
  background-image: url(../imgs/rectangle.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - -695px) 131px;
}
.hero__container {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 40;
}
.hero__content {
  flex-shrink: 0;
  max-width: 540px;
  width: 100%;
  padding-top: 72px;
  margin-right: 66px;
}
.hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
}
.hero__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
}
.hero__img {
  flex-shrink: 0;
  width: 579px;
  height: 386px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}
.button-box__element {
  padding-right: 24px;
  padding-left: 24px;
  border-color: var(--bg-color-blue);
  background-color: var(--bg-color-blue);
}
.button-box__element:hover{
  border-color: var(--bg-color-blue);
  color: var(--bg-color-blue);
  background-color: var(--primary-color);
}
.button-box__element:nth-child(2){
  margin-left: 16px;
  border-color: #F7F7F7;
  background-color: #F7F7F7;
  color: var(--font-color);
}
.button-box__element:nth-child(2):hover{
  border-color: #5B6074;
  color: var(--font-color);
}


/* FEATURES */
.features {
  margin-bottom: 238px;
}
.features-container {
  position: relative;
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-heading {
  margin-top: 0;
  margin-bottom: 16px;
}
.features-theme {
  margin-top: 0;
  margin-bottom: 72px;
}
.features-list {
  display: flex;
  justify-content: space-around;
  max-width: 730px;
  width: 100%;
  margin: 0;
  margin-bottom: 72px;
  padding: 0;
  border-bottom: 1px solid #495DCF33;
  list-style: none;
}
.features-item {
  margin: 0;
}
.features-item:first-child{
  border-bottom-color: var(--bg-color-red);
}
.features-item-button {
  min-width: 243px;
  padding-bottom: 27px;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.533333px;
  border: 0;
  border-bottom: 4px solid transparent;
  color: var(--font-color);
  background-color: transparent;
  cursor: pointer;
  transition: color 0.4s ease, opacity 0.4s ease;
  white-space: nowrap;
}
.border-bottom{
  border-bottom-color: var(--bg-color-red);
}
.features-item-button:hover{
  color: var(--bg-color-red);
}
.features-item-button:active{
  opacity: 0.8;
}
.features-wrapper-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.none{
  display: none;
}
.features-bg-img {
  position: absolute;
  left: -471px;
  bottom: -90px;
  z-index: -1;
  width: 1000px;
  height: 352px;
  transform: rotate(180deg);
}
.features-content {
  max-width: 445px;
  width: 100%;
}
.features-content-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}
.features-content-text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
}
.features-button {
  border-color: var(--bg-color-blue);
  color: var(--primary-color);
  background-color: var(--bg-color-blue);
}
.features-button:hover{
  border-color: var(--bg-color-blue);
  color: var(--bg-color-blue);
  background-color: var(--primary-color);
}
/* FEATURES-WRAPPER-BOX-2 */
.features-wrapper-box-2 .features-bg-img{
  bottom: -42px;
  left: -571px;
}
/* FEATURES-WRAPPER-BOX-2 */
.features-wrapper-box-3 .features-bg-img{
  bottom: -55px;
  left: -560px;
}

/* DOWNLOAD */
.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-heading {
  margin-top: 0;
  margin-bottom: 16px;
}
.download-theme {
  margin-top: 0;
  margin-bottom: 48px;
}
.download-list {
  display: flex;
  margin: 0;
  margin-bottom: 230px;
  padding: 0;
  list-style: none;
}
.download-item {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 24px 24px 24px;
  border-radius: 15px;
  background-image: url("../imgs/circles.svg");
  background-repeat: no-repeat;
  background-position: center bottom 96px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
}
.download-item:not(:last-child){
  margin-right: 35px;
}
.download-item:nth-child(2){
  transform: translateY(40px);
}
.download-item:nth-child(3){
  transform: translateY(80px);
}
.download-item-img {
  margin-bottom: 32px;
}
.download-item-bg{
  position: absolute;
  bottom: 96px;
}
.download-item-heading {
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.download-item-text {
  margin-top: 0;
  margin-bottom: 60px;
  opacity: 0.5;
}
.download-item-button {
  border-color: var(--bg-color-blue);
  background-color: var(--bg-color-blue);
}
.download-item-button:hover{
  border-color: var(--bg-color-blue);
  color: var(--bg-color-blue);
}

/* QUESTIONS */
.question {
  margin-bottom: 150px;
}
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-heading {
  margin-top: 0;
  margin-bottom: 16px;
}
.questions-theme {
  margin-top: 0;
  margin-bottom: 56px;
}
.questions-form {
  margin-bottom: 54px;
}
.questions-select{
  display: block;
  max-width: 540px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 14px;
  line-height: 32px;
  border: 0;
  border-top: 1px solid rgba(36, 42, 69, 0.15);
  color: var(--font-color);
  cursor: pointer;
  transition: color 0.4s ease;
}
.questions-select:hover{
  color: var(--bg-color-red);
}
.questions-select:last-child{
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}
.questions-option {
  display: block;
  width: 300px;
}
.questions-button {
  border-color: var(--bg-color-blue);
  background-color: var(--bg-color-blue);
}
.questions-button:hover{
  border-color: var(--bg-color-blue);
  color: var(--bg-color-blue);
}

/* BE-AWARE */
.be-aware {
  padding-top: 58px;
  padding-bottom: 74px;
  background-color:var(--bg-color-blue);
}
.be-aware-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.be-aware-theme {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 5px;
  color: var(--primary-color);
}
.be-aware-heading {
  max-width: 408px;
  width: 100%;
  margin-bottom: 36px;
  line-height: 40px;
  color: var(--primary-color);
}
.be-aware-form {
  display: flex;
}
.be-aware-input {
  max-width: 300px;
  width: 100%;
  padding: 10px 20px;
  margin-right: 16px;
  border-radius: 5px;
  border-color:var(--primary-color);
}
.be-aware-input:not(:placeholder-shown){
  border-color: var(--bg-color-red);
}
.be-aware-input::placeholder{
  font-size: 14px;
  letter-spacing: 0.25px;
  color: rgba(36, 42, 69, 0.250109);
}
.be-aware-button {
  cursor: pointer;
}
.be-aware-button:hover{
  border-color: var(--bg-color-red);
}

/* SITE-FOOTER */
.site-footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color:var(--font-color);
}
.footer-container {
  display: flex;
  align-items: center;
}
.footer-sitenav-list {
  justify-content: start;
  margin-left: 65px;
}
.site-footer .sitenav-item-link {
  color: var(--primary-color);
}
.site-footer .sitenav-item-link:hover{
  color: var(--bg-color-red);
}
.social-media-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-media-item:not(:last-child) {
  margin-right: 40px;
}
.social-media-item-link {
  display: flex;
  color: var(--primary-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}
.social-media-item-link:hover{
  color: var(--bg-color-red);
}
.social-media-item-link:active{
  opacity: 0.6;
}
